[submodule "externals-submodules/Coe.Math"]
	path = externals/Coe.Math
	url = https://github.com/moljac/HolisticWare.Core.Math.git
[submodule "externals-submodules/Core"]
	path = externals/Core
	url = https://github.com/moljac/HolisticWare.Core.git
[submodule "externals-submodules/Core.Math.Samples"]
	path = externals/Core.Math.Samples
	url = https://github.com/moljac/HolisticWare.Core.Math.Samples.git
[submodule "externals-submodules/Core.Linq"]
	path = externals-submodules/Core.Linq
	url = https://github.com/HolisticWare/HolisticWare.Core.Linq.git
